.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.not-bold {
  font-weight: 400;
}

.on-bold {
  font-weight: 700;
}

.img-responsive {
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

.full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font12 {
  font-size: 12px;
  line-height: 22px;
}

.font14 {
  font-size: 14px;
  line-height: 20px;
}

.font16 {
  font-size: 16px;
  line-height: 26px;
}

.font20 {
  font-size: 20px;
  line-height: 30px;
}

.font24 {
  font-size: 24px;
  line-height: 34px;
}

.font28 {
  font-size: 28px;
  line-height: 38px;
}
