// sass-lint:disable nesting-depth
// sass-lint:disable no-color-literals

@import 'deps';

.btn {
  background-color: map-get($colors, 'white');
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(map-get($colors, 'black'), .16);
  color: darken(map-get($colors, 'white'), 24.35%);
  cursor: pointer;
  display: inline-block;
  transition: .15s ease-in-out;

  &:hover {
    background-color: darken(map-get($colors, 'white'), 5%);
  }

  // Primary
  &.primary {
    background-color: map-get($colors, 'primary');
    color: map-get($colors, 'white');

    &:hover {
      background-color: darken(map-get($colors, 'primary'), 5%);
    }

    // Primary Invert
    &-invert {
      background-color: map-get($colors, 'white');
      color: map-get($colors, 'primary');

      &:hover {
        background-color: darken(map-get($colors, 'white'), 5%);
      }
    }
  }

  // Secundary
  &.secundary {
    background-color: map-get($colors, 'secundary');
    color: map-get($colors, 'white');

    &:hover {
      background-color: darken(map-get($colors, 'secundary'), 5%);
    }

    // Secundary Invert
    &-invert {
      background-color: map-get($colors, 'white');
      color: map-get($colors, 'secundary');

      &:hover {
        background-color: darken(map-get($colors, 'white'), 5%);
      }
    }
  }

  // Disabled
  &.disabled {
    background-color: darken(map-get($colors, 'white'), 3.1%);
    color: darken(map-get($colors, 'white'), 24.35%);
    cursor: not-allowed;

    &:hover {
      background-color: darken(map-get($colors, 'white'), 8.1%);
    }
  }
}
