<meta charset="utf-8">
<meta name="robots" content="NOINDEX, NOFOLLOW">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Adicionar nome do Projeto -->
<title>{% if pagename %}{{ pagename }} | {% endif %}kzas Credit</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<!-- Meta Tags para SEO -->
<meta name="description" content="## Descrição do projeto para buscadores ##">
<meta name="keywords" content="## Palavras chaves do projeto para buscadores ##">

<meta name="theme-color" content="#41a5bb">
<meta name="apple-mobile-web-app-status-bar-style" content="#41a5bb">
<meta name="msapplication-navbutton-color" content="#41a5bb">

<!-- Meta Tags para acompanhamento dos buscadores -->
<meta name="googlebot" content="noindex,nofollow">
<!-- DESENVOLVIMENTO || Os bucasdores NÃO irá encontrar e indexar o projeto -->
<meta name="robots" content="noarchive">
<!-- Não armazena cache -->

<!-- Chamadas dos arquivos CSS e FAVICON -->
<link rel="stylesheet" href="./css/bundle.min.css">
<link rel="icon" href="img/favicon.ico" size="16x16" type="image/png">

<!-- inject:css -->
<!-- endinject -->
