// sass-lint:disable nesting-depth

@import 'deps';

.card-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .item-card {
    border: 1px solid map-get($colors, 'gray-e7');
    border-radius: 8px;
    min-width: 272px;

    @media (max-width: 660px) {
      width: 100%;
    }

    .head-bank {
      img {
        margin-left: 8px;
        margin-right: 14px;
        width: 40px;
      }
    }

    .btn {
      display: table;
      margin: 0 auto;
      margin-top: 24px;

      @media (max-width: 660px) {
        width: 100%;
      }
    }
  }
}
