// sass-lint:disable nesting-depth

@import 'deps';

.list-component {
  .item {
    border-bottom: 1px solid map-get($colors, 'gray-e7');

    &:last-of-type {
      border-bottom: 0;
    }

    @media (max-width: 992px) {
      div {
        &:first-of-type {
          max-width: 80%;
        }
      }
    }

    .status {
      border-radius: 4px;
      color: map-get($colors, 'white');
      font-weight: 700;

      &.analise {
        background-color: map-get($colors, 'warning');
      }

      &.validado {
        background-color: map-get($colors, 'success');
      }

      &.invalido {
        background-color: map-get($colors, 'danger');
      }
    }

    .upload {
      display: block;
      transform: rotate(-90deg);
    }
  }
}
