{% macro footer() %}

<footer class="footer container">
  <div class="row valign-middle halign-middle">
    <p class="font14 cl-gray-94">
      Copyright ©2019 Kzas. Todos os direitos reservados.
    </p>
  </div>
</footer>

{% endmacro %}
