.box-notification {
  margin: 0 auto;
  margin-bottom: 52px;
  margin-top: 65px;
  max-width: 800px;

  img {
    margin-bottom: 8px;
  }

  .head-section {
    width: 100%;
  }

  @media (max-width: 992px) {
    width: 100%;
  }
}
